{% extends "AdminBundle:Base:layout.html.twig" %}
{% form_theme edit_form 'AdminBundle:Form:fields.html.twig' %}

{% block section %}features{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "edit.singular" | trans }} {{ entity.name }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "catalogue" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_feature_index') }}">{{ "feature.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_feature_show', { id: feature.id }) }}">{{ feature.name }}</a></li>
        <li><a href="{{ path('ecommerce_featurevalue_index', { featureId: feature.id }) }}">{{ "value.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_featurevalue_show', { featureId: feature.id, id: entity.id }) }}">{{ entity.name }}</a></li>
        <li><a href="{{ path('ecommerce_featurevalue_edit', { featureId: feature.id, id: entity.id }) }}">{{ "edit.singular" | trans }} </a></li>
      </ol>
    </section>
      
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
            
            <div class="box box-info">
                <form action="{{ path('ecommerce_featurevalue_update', { featureId: feature.id, id: entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal form-row-seperated">
                   <div class="box-body">
                        {{ include('EcommerceBundle:FeatureValue:_form.html.twig', { form: edit_form }) }}
                        <input type="hidden" name="_method" value="PUT" /> 
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                           <button type="submit" class="btn btn-primary btn-flat"><i class="ion-checkmark"></i> {{ "save" | trans }}</button>
                            <a href="{{ path('ecommerce_featurevalue_show', { featureId: feature.id, id: entity.id }) }}" class="btn btn-default btn-flat">{{ "cancel.singular" | trans }}</a>
                            <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ "delete" | trans }}</button>
                        </div>    
                    </div>
                </form>
                <form id="delete-entity" action="{{ path('ecommerce_featurevalue_delete', { featureId: feature.id, id: entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                </form>
            </div>
        </div>
      </div>
    </section>
                    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#delete-btn').on('click', function(e) {
                e.preventDefault();

                if (confirm('{{ "are.you.sure" | trans }}')) {
                    $('#delete-entity').submit();
                }
            });
        });
    </script>
{% endblock %}