{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block content %}
<div class="container">
     <div class="row core-row profile user" >
       
        <div class="col-md-3 col-xs-12 profile-img ">
            <img src="{{ get_profile_image() }}">
            {% include 'FrontBundle:Profile:_profile.image.upload.html.twig' %}
        </div>
        <div class="col-md-9 col-xs-12">
            <h1 class="title">
                {{app.user.fullName}}
            </h1>
            <div class="subtitle-section">
               En feugiat consequat nisl in rhoncus. In faucibus lectus sit amet ligula venenatis fermentum. Aliquam libero dui, condimentum viverra nulla vitae, dignissim tempus ipsum. Aliquam lorem velit, cursus at ultrices in, volutpat ac tortor. Suspendisse potenti. Sed facilisis rhoncus mi, vel pulvinar nisl condimentum id. Praesent metus felis, sodales quis consequat interdum, maximus id felis. Morbi at libero ullamcorper, pulvinar turpis quis, ullamcorper nibh.
            </div> 
        </div>

        <div style="clear: both"></div>
        {% include 'CoreBundle:Base:alert.messages.html.twig'%}

        <div class="col-xs-3" style="padding-right: 0px"> <!-- required for floating -->
            {{ include('EcommerceBundle:Profile:_sidebar.html.twig', { section: 'billing' }) }}
        </div>

        <div class="col-xs-9" style="margin-top: 0px;border-top: 1px solid #01acc6;">

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane {{ not app.request.get('billing') and
                        not app.request.get('delivery') and
                        not app.request.get('transactions')  ? 'active' }}" id="profile_tab">
                    <div class="portlet box custom">
                        <div class="portlet-body profile">
                            <div id="billing">
                                <div class="container-table-delivery">
                                    <h3>{{ 'account.billing.info' | trans }}</h3>

                                    <form class="form-horizontal delivery-form" method="post" action="{{ path('front_profile_editbilling') }}" {{ form_enctype(form) }}>
                                        <div class="row space-bottom">
                                            {{ include('EcommerceBundle:Profile:Delivery/_form.html.twig', { form: form }) }}
                                        </div>

                                        <div class="profile-buttons">
                                            <a href="javascript:void(0);" data="{{address.id}}" class="delivery-edit-back"><i class="ion-reply"></i> <span>{{ 'back' | trans }}</span></a>
                                            <button type="submit" class="pull-right menuUserButton"> <i class="ion-checkmark"></i> {{ 'save' | trans }}</button> 
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>

                    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/front/css/vendor/bootstrap.vertical-tabs.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

            
{% endblock %}