{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% form_theme form 'AdminBundle:Form:fields.html.twig' %}

{% block section %}products{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "new.product" | trans }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "catalogue" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_product_index') }}">{{ "product.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_product_new') }}">{{ "new.singular" | trans }}</a></li>
      </ol>
    </section>
      
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <!-- form start -->
                {{ form_start(form, {
                                    'action': path('ecommerce_product_new'), 
                                    'method': 'post', 
                                    'attr': {'class': 'form-horizontal form-row-seperated'}
                                    }) }}
                    <div class="box-body">
                        {{ include('EcommerceBundle:Product:_form.html.twig', { form: form }) }}
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary btn-flat"><i class="ion-checkmark"></i> {{ "save" | trans }}</button>
                            <a href="{{ path('ecommerce_product_index') }}" class="btn btn-default btn-flat">{{ "cancel.singular" | trans }}</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
                        
                       
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            
            $('#product_publishDateRange').daterangepicker(
                {
                    separator: ' ',   
                    format: 'DD/MM/YYYY',
                    timePicker: true,
                    startDate : moment().format('DD/MM/YYYY')
                }
            );
    
            $('#product_category').select2({
                placeholder: "{{ "category.choose" | trans }}",
                allowClear: true
            });

            $('#product_brand').select2({
                placeholder: "{{ "brand.choose" | trans }}",
                allowClear: true
            });
            
            $('#product_brand').change(function(){
                var id = $('#product_brand').val();
                $.ajax({
                    method: "GET",
                    url: '{{path('ecommerce_brandmodel_modeljson' )}}/'+id,
                }).done(function (results) {
                    var options = '';
                    $.each( results, function( key, value ) {
                         console.log(value);
                         options += "<option value="+ key + ">" + value + "</option>";
                    });
 
                    $('#product_model').html(options);
                    $('#product_model').select2({
                        placeholder: "{{ "model.choose" | trans }}",
                        allowClear: true
                    });

                });
            });
            
            
             
            
            var tipo_precio = jQuery('#product_priceType').val();
            if(tipo_precio == '1'){
                jQuery('.orifinal-price').hide();
                jQuery('.discount').hide();
                jQuery('.discountType').hide();
                $('.end-price').text('Porcentaje a aplicar');
            }
                
            jQuery('#product_priceType').change(function(){
                var val= $(this).val();
                console.log(val);
                if(val == '1'){
                    jQuery('.orifinal-price').hide();
                    jQuery('.discount').hide();
                    jQuery('.discountType').hide();
                    $('.end-price').text('Porcentaje a aplicar');
                    
                }else{
                    jQuery('.orifinal-price').show();
                    jQuery('.discount').show();
                    jQuery('.discountType').show();
                    $('.end-price').text('Precio final');
                }
                
            });
            
            jQuery('#product_discount').focusout(function(){
                precioFinal();
            });
            
            jQuery('#product_initPrice').focusout(function(){
                precioFinal();
            });
            
            jQuery('#product_discountType').focusout(function(){
                precioFinal();
            });
            
      
        
        
        
        });
        
        function precioFinal(){
            var precioOri = $('#product_initPrice').val();
            var tipoDescuento = $('#product_discountType').val();
            var descuento = $('#product_discount').val();
            if(precioOri > 0 ){
                var precio_final = calculo(precioOri, tipoDescuento, descuento);
                jQuery('#product_price').val(precio_final);
                //console.log('tiene precio original hay que realizar calculo'+precio_final);
            }
        }
        
        function calculo(precioOri, tipoDescuento, descuento){
            //veo el tipo 0=%, 1=€
            if(tipoDescuento == '0'){
                var res = (precioOri / 100) * descuento;
                return precioOri - res;
            }else if(tipoDescuento == '1'){
                return precioOri - descuento;
            }
            
        }
        
    </script>
{% endblock %}