{% if delivery_form is defined %}
    {% set  form =  delivery_form %}
{% else %}
    {% set  form = get_delivery_form() %}    
{% endif %}
<form class="form-horizontal delivery-form" method="post" action="{{ path('core_actor_editdelivery', { id: address.id }) }}" {{ form_enctype(form) }}>
    <div class="space-bottom">
        {{ include('EcommerceBundle:Profile:Delivery/_form.html.twig', { form: form }) }}
    </div>
    <div class="profile-buttons">
        <a href="javascript:void(0);"  data="{{address.id}}" class="btn btn-core delivery-edit-back"><span>{{ 'back' | trans }}</span></a>
        <button class="btn btn-core pull-right delivery-submit" type="submit">{{ 'save' | trans }}</button>
    </div>
</form>