{% extends 'CoreBundle:Profile:index.html.twig' %}

{% block devilery_content %}
    <h3>{{ 'account.address.add' | trans }}</h3>
    <form class="form-horizontal delivery-form col-xs-12" method="post" action="{{ path('core_actor_newdelivery') }}" {{ form_enctype(form) }}>
        <div class="space-bottom">
            {{ include('EcommerceBundle:Profile:Delivery/_form.html.twig', { form: form }) }}
        </div>
        <div class="profile-buttons">
                <a href="javascript:void(0);"  class="profile-back"><i class="ion-reply"></i> <span>{{ 'back' | trans }}</span></a>
                <button type="submit" class="pull-right"> <i class="ion-checkmark"></i> {{ 'save' | trans }}</button> 
        </div>
    </form>
{% endblock %}


