
<table class="advert-table total" style="width: 100%">
    <tr>
        <td>Codigos postales</td>
        <td><span id="quantity">0</span></td>
    </tr>
    <tr>
        <td>Precio unitario</td>
        <td>x {{ get_parameter('ecommerce.advert_unit_price') }} €</td>
    </tr>
    <tr>
        <td>Días</td>
        <td>x <span id="days">0</span></td>
    </tr>
    <tr>
        <td>Secciones</td>
        <td><span id="section-content">x <span id="sections-count">0</span></span></td>
    </tr>
    <tr>
        <td>{{ "checkout.subtotal" | trans }}</td>
        <td><em id="subtotal">0</em> €</td>
    </tr>
    <tr>
        <td>{{ "discount" | trans }}</td>
        <td><em id="discount">0</em> €</td>
    </tr>
    <tr>
        <td>{{ "vat" | trans }} (21%)</td>
        <td><em id="vat">0</em> €</td>
    </tr>
    <tr>
        <td>{{ "total.to.pay" | trans }}</td>
        <td><em id="total">0</em> €</td>
    </tr>
</table>
