{{ form_start(form) }}


<div class="col-sm-12 priceAndCheck">
    <div class="price">
        <span>{{ "checkout.amount" | trans }}:</span>
        <strong>{{ totals.amount | price }}</strong>
        {{ form_widget(form.submit) }}
    </div>
    <a href="{{ path('ecommerce_checkout_deliveryinfo') }}" class="btn btn-primary" title="{{ "back" | trans }}">{{ "back" | trans }}</a>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}