{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}advertslocated{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ entity.name }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "advert.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_located_index') }}">{{ "located.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_located_show', { id: entity.id }) }}">{{ entity.name }}</a></li>
      </ol>
    </section>
      
      <section class="content">
        <div class="row">
          <div class="col-md-12">
              
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}

            <div class="box">
                <div class="box-body show-tables">

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Id</td>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'name' | trans }}</td>
                                <td>{{ entity.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'located.height' | trans }}</td>
                                <td>{{ entity.height }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'located.width' | trans }}</td>
                                <td>{{ entity.width }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'active' | trans }}</td>
                                <td>{{ entity.active }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            <div class="box-footer">
                <a href="{{ path('ecommerce_located_edit', { id: entity.id }) }}" class="btn btn-primary btn-flat"><i class="ion-compose"></i> {{ "edit.singular" | trans }}</a>
                <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ "delete" | trans }}</button>    
                <form id="delete-entity" action="{{ path('ecommerce_located_delete', { id: entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                </form>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#delete-btn').on('click', function(e) {
                e.preventDefault();

                if (confirm('{{ "are.you.sure" | trans }}')) {
                    $('#delete-entity').submit();
                }
            });

            //App.init();
        });
    </script>
{% endblock %}