

<h3>{{ 'account.user.profile' | trans }}</h3>

{{ form_errors(form_pass) }}

<form  class="form-horizontal" method="post" action="{{ path('front_profile_changepassword') }}" {{ form_enctype(form_pass) }}>
   
    <div class="form-group">
        <label class="control-label col-sm-4">{{'account.password.current' | trans}}</label>
        <div class="col-sm-8">
          {{ form_widget(form_pass.password_old, {attr: {'class': 'form-control'} }) }}
        </div>
    </div>
           
    <div class="form-group">
        <label class="control-label col-sm-4">{{'account.password.new' | trans}}</label>
        <div class="col-sm-8">
          {{ form_widget(form_pass.password.password, {attr: {'class': 'form-control'} }) }}
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-4">{{'account.password.new.repeat' | trans}}</label>
        <div class="col-sm-8">
           {{ form_widget(form_pass.password.confirm, {attr: {'class': 'form-control'} }) }}
        </div>
    </div>
       
    {{ form_rest(form_pass) }}
  
    <div class="profile-buttons">
        <a href="javascript:void(0);" id="back_pass"><i class="ion-reply"></i> <span>{{ 'back' | trans }}</span></a>
        <button type="submit" class="pull-right saveProfile"> <i class="ion-checkmark"></i> {{ 'save' | trans }}</button> 
    </div> 
</form>