{% extends "AdminBundle:Base:layout.html.twig" %}

{% block section %}carts{% endblock %}

{% block content %}
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    {{ "cart.plural" | trans }}
                </h3>
                <ul class="breadcrumb">
                    <li><a href="{{ path('core_admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
                    <li><a href="javascript:">{{ "users" | trans }}</a></li>
                    <li><a href="{{ path('ecommerce_cart_index') }}">{{ "cart.plural" | trans }}</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->

        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- TABLE PORTLET-->
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="carts-table">
                        <thead>
                        <tr>
                            <th class="hidden-480">ID</th>
                            <th class="hidden-480">{{ "locked" | trans }}</th>
                            <th class="hidden-480">{{ "total.items" | trans }}</th>
                            <th class="hidden-480">{{ "total.singular" | trans }}</th>
                            <th class="hidden-480">{{ "expiration.date" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- END TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var table_columns = [
            {
                "mData": function(source) {
                    return '<a href="' + source.id + '">' + source.id + '</a>';
                }
            },
            {
                "mData": "locked",
                "mRender": function(data) {
                    var code = '';

                    if (0 == data) {
                        code = '<span class="label label-success">{{ "no" | trans }}</span>';
                    } else {
                        code = '<span class="label label-important">{{ "yes" | trans }}</span>';
                    }

                    return code;
                }
            },
            { "mData": "totalItems" },
            {
                "mData": function (source) {
                    return source.total + ' ' + '{{ core.ecommerce.currency_symbol }}';
                }
            },
            {
                "mData": function (source) {
                    if(source.expiresAt != '')
                    return Date.parse(source.expiresAt).toString("dd/MM/yyyy");
                    return '';
                }
            }
        ];

        jQuery(document).ready(function() {
            TableManaged.init(
                '#carts-table',
                '{{ url('ecommerce_cart_listjson') }}',
                [],
                table_columns,
                '{{ url('core_admin_default_getdatatablesi18n', { language: app.request.locale }) }}');
        });
    </script>
{% endblock %}