{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}brands{% endblock %}

{% block content %}
    
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ entity.name }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "catalogue" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_brand_index') }}">{{ "brand.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_brand_show', { id: entity.id }) }}">{{ entity.name }}</a></li>
      </ol>
    </section>
      
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
            
            <div class="box box-info">
                <div class="box-body show-tables">
                     <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ "name" | trans }}</td>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ "available" | trans }}</td>
                            <td>
                                {% if entity.available %}
                                    <span class="label label-success">{{ "yes" | trans }}</span>
                                {% else %}
                                    <span class="label label-danger">{{ "no" | trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "image.singular" | trans }}</td>
                            <td>
                                {% if entity.image %}
                                    <img width="200" src="{{ asset('uploads/images/' ~ entity.image) }}" alt="{{ entity.image }}" />
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "URL" }}</td>
                            <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
                        </tr>
                        {% if entity.category is not null%}
                        <tr>
                            <td>{{ "category.singular" | trans }}</td>
                            <td>
                                {{entity.category.name}}
                            </td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a href="{{ path('ecommerce_brand_edit', { id: entity.id }) }}" class="btn btn-primary btn-flat"><i class="ion-compose"></i> {{ "edit.singular" | trans }}</a>
                    <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ "delete" | trans }}</button>
                    <form id="delete-entity" action="{{ path('ecommerce_brand_delete', { 'id': entity.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(delete_form) }}
                    </form>
                </div>
            </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#delete-btn').on('click', function(e) {
                e.preventDefault();

                if (confirm('{{ "are.you.sure" | trans }}')) {
                    $('#delete-entity').submit();
                }
            });

        });
    </script>
{% endblock %}