{% extends "AdminBundle:Base:layout.html.twig" %}
{% form_theme form 'AdminBundle:Form:fields.html.twig' %}

{% block section %}categories{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "new.subcategory" | trans }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "catalogue" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_category_index') }}">{{ "category.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_category_show', { id: category.id }) }}">{{ category.name }}</a></li>
        <li><a href="{{ path('ecommerce_subcategory_index', { categoryId: category.id }) }}">{{ "subcategory.plural" | trans }}</a></li>
        <li><a href="{{ path('ecommerce_subcategory_new', { categoryId: category.id }) }}">{{ "new.singular" | trans }}</a></li>
      </ol>
    </section>
      
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <form action="{{ path('ecommerce_subcategory_create', { categoryId: category.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal form-row-seperated">
                    <div class="box-body">
                        {{ include('EcommerceBundle:Category:_form.html.twig', { form: form, categoryId: category.id }) }}
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary btn-flat"><i class="ion-checkmark"></i> {{ "save" | trans }}</button>
                            <a href="{{ path('ecommerce_category_index') }}" class="btn btn-default btn-flat">{{ "cancel.singular" | trans }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>
         
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#ecommercebundle_categorytype_family').select2({
                placeholder: "",
                allowClear: true
            });
            $('#ecommercebundle_categorytype_parentCategory').select2({
                placeholder: "",
                allowClear: true
            });
        });
    </script>
{% endblock %}