{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block body %}
    <ul>
    {% for product in products %}
        <li>
            <div class="panel panel-success">
                <div class="panel-heading">
                    {% if product.images|length > 0 %}
                        {% set path = '/uploads/images/products/'~product.id~'/'~product.images.first.path %}
                    {% else %}
                        {% set path = '/bundles/front/images/default-product-image.png' %}
                    {% endif %}
                    <img style="border: 2px solid #bbb; border-radius: 5px; background-color: #ccc;" width="200px" src="{{ path }}" />
                </div>
                <div class="panel-body">
                    {{ product.name }}<br>
                    {{ product.description }}<br><br>
                    <h2> Precio: {{ product.price | price(true,true)}}</h2>
                    <a href="{{ path('ecommerce_cart_product', {'slug': product.slug }) }}" class="btn btn-primary btn-lg" style="float: right">Detalle</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
