{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block content %}
    <ul>
        <li class="bg">
            <div>
                <div style="float: left; display: inline-block;">
                    {% if product.images|length > 0 %}
                        {% set path = '/uploads/images/products/'~product.id~'/'~product.images.first.path %}
                    {% else %}
                        {% set path = '/bundles/front/images/default-product-image.png' %}
                    {% endif %}
                    <img style="border: 2px solid #bbb; border-radius: 5px; background-color: #ccc;" width="300px" src="{{ path }}" />
                </div>
                <div style="float: left; display: inline-block;padding: 5px">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <h2> Precio: {{ product.price| price(true,true) }}</h2>
                    
                    {% set form = cart_form() %}

                    <form action="{{ path('ecommerce_cart_add', { id: product.id }) }}" method="post">
                        {{ form_widget(form.quantity) }}
                        {{ form_rest(form) }}
                        <input type="submit" class="btn btn-primary" value="{{ "cart.add" | trans }}" />
                    </form>
                    
                </div>
            </div>
        </li>
    </ul>
{% endblock %}
